@* Views/Book/Index.cshtml *@


@{
    ViewData["Title"] = "Books List";
}

@model IEnumerable<Booktopia.Models.Entities.Book>

<h2>Book List</h2>

<form method="get" asp-action="Index">
    <input type="text" name="searchQuery" class="form-control" placeholder="Search by title, author, or genre" />
    <button type="submit" class="btn btn-primary mt-2">Search</button>
</form>

<a asp-action="Add" class="btn btn-success">Add New Book</a>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Genre</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model)
        {
            <tr>
                <td>@book.Title</td>
                <td>@book.Author</td>
                <td>@book.Genre</td>
                <td>
                    <a asp-action="Update" asp-route-id="@book.Id" class="btn btn-warning">Edit</a>
                    <form method="post" asp-controller="Book" asp-action="Delete">
                        <input type="hidden" name="id" value="@book.Id" />
                        <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure?');">Delete</button>
                    </form>


                </td>
            </tr>
        }
    </tbody>
</table>